#active {
  position: relative;
}
/* Avoid border animation on the current tab */
#active:hover {
  color: var(--main-grey) !important;
}

#active:hover::before {
  border-bottom: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
}
#active:hover::after {
  border-top: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  transition: none !important;
}
#active:focus::after {
  transition: none !important;
}
#active::before {
  transition: none !important;
}
/* */
#active::before {
  content: '';
  position: absolute;
  left: 20% !important;
  bottom: 0;
  height: 100% !important;
  width: 60% !important;
  border-top: 1px solid var(--main-gold) !important;
}

#menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-family: 'montserrat';
  z-index: 101;
}
#menu ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
#menu .divisedMenu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}
#menu .divisedMenu > ul {
  margin: 0;
  min-width: 40%;
}
#menu .divisedMenu > ul li {
  font-size: 17px;
  margin: auto;
  padding: 0 10px;
}

#menu .divisedMenu a {
  box-sizing: border-box;
}
#menu .divisedMenu a::before,
#menu .divisedMenu a::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  height: 0%;
  width: 0%;
  border: 1px solid transparent;
}
#menu .divisedMenu a::before {
  bottom: 0;
  left: 0;
}
#menu .divisedMenu a::after {
  top: 0;
  right: 0;
}
#menu .divisedMenu a:hover::before,
#menu .divisedMenu a:hover::after {
  height: 100%;
  width: 100%;
}
#menu .divisedMenu a:hover::before {
  border-bottom-color: var(--main-gold);
  border-left-color: var(--main-gold);
  transition: width 0.25s ease-out, height 0.25s ease-out;
}
#menu .divisedMenu a:hover::after {
  border-top-color: var(--main-gold);
  border-right-color: var(--main-gold);
  transition: border-color 0s ease-out 0.25s,
    width 0.25s ease-out 0.25s, height 0.25s ease-out 0.25s;
}

#menu .divisedMenu a:hover {
  color: var(--main-gold);
}

#menu .divisedMenu a {
  color: var(--main-grey);
  padding: 10px;
  position: relative;
}

#menu .divisedMenu > a {
  color: var(--main-blue) !important;
  margin: auto 0;
}
