#menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-family: 'montserrat';
}
#menu ul {
  color: var(--main-grey);
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
#menu .divisedMenu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}
#menu .divisedMenu > ul {
  margin: 0;
  width: 40%;
}
#menu .divisedMenu > ul li {
  font-size: 17px;
  margin: auto;
  padding: 0 10px;
}
#menu .divisedMenu > ul li > a {
  color: var(--main-grey);
}
#menu .divisedMenu > a {
  color: var(--main-blue);
  margin: auto 0;
}
