#contact {
  display: flex;
  height: 100vh;
  width: 100%;
}

form {
  margin: auto;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

form div label {
  font-size: 1.8em;
  color: var(--main-gold);
  margin: 0;
  display: block;
  -webkit-transition: 0.333s ease top, 0.333s ease opacity;
  transition: 0.333s ease top, 0.333s ease opacity;
  margin-bottom: 15px;
}
form div input,
form div textarea {
  border-radius: 0;
  border-color: var(--main-grey);
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
  height: 40px;
  font-size: 1em;
  font-family: 'montserrat', 'system-ui';
  width: 100%;
}
form div input:focus,
form div textarea:focus {
  outline: none;
}
form div textarea {
  height: 225px;
  resize: none;
}

form button {
  padding: 10px 35px;
  font-size: 1.5em;
  background-color: var(--main-gold);
  border: none;
  outline: 1px solid black;
  color: white;
  width: fit-content;
}

form small {
  color: red;
}

.validInput {
  border-color: var(--main-gold);
}
.invalidInput {
  border-color: red !important;
}
