@font-face {
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

:root {
  --main-grey: #c8cabd;
  --main-gold: #b38d46;
  --main-blue: #4b8a9f;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  margin: 0;
}
.App {
  display: flex;
  flex-flow: wrap;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(190, 185, 185, 1) 11%,
    rgba(126, 126, 126, 1) 17%,
    rgba(60, 60, 60, 1) 23%,
    rgba(0, 0, 0, 1) 34%
  );
  background-size: 100% 90px;
  background-repeat: no-repeat;
}
.customLink {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  body {
    overflow: visible;
  }
}
