@font-face {
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-Regular.ttf');
}

:root {
  --main-grey: #c8cabd;
  --main-gold: #b38d46;
  --main-blue: #4b8a9f;
}
body {
  margin: 0;
}
.customLink {
  text-decoration: none;
}
